body {
    background-color: black;
}

canvas { 
    border: 1px solid black; 
    background-color: white;
}

/*BLOCK*/
.block {
    float: right;
    text-align: center;
    width: 500px;
    margin-top: 100px;
    margin-right: 1px;
}
.header {
    width: 100%;
    height: 150px;
}
.color_picker {
    width: 100%;
    height: 50px;
}
#color_picker {
    width: 100%;
}
.brush_size {
    width: 100%;
    height: 50px;
}
.dropdown_menu {
    width: 100%;
    height: 50px;
}
.control_tools {
    width: 100%;
}
#control_tools {
    margin: auto;
}
.button {
    background-size: 30px 30px;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
}
td, tr {
    padding: 20px;
}
#pencil {
    background-image: url("../icon/pencil.png");
}
#eraser {
    background-image: url("../icon/eraser.png");
}
#text {
    background-image: url("../icon/text.png");
}
#circle {
    background-image: url("../icon/circle.png");
}
#triangle {
    background-image: url("../icon/triangle.png");
}
#rectangle {
    background-image: url("../icon/rectangle.png");
}
#line {
    background-image: url("../icon/line.png");
}
#image_loader {
    display: none;
}
#upload {
    background-image: url("../icon/upload.png");
}
#download {
    background-image: url("../icon/download.png");
}
#undo {
    background-image: url("../icon/undo.png");
}
#redo {
    background-image: url("../icon/redo.png");
}
#refresh {
    background-image: url("../icon/refresh.png");
}


/*THE SLIDER ITSELF*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: white;
    outline: none;
    opacity: 1;
    border-radius: 5px;
}

/*MOUSE-OVER EFFECTS*/
.slider:hover {
    opacity: 1;
}

/*THE SLIDER HANDLE*/
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
}